* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    background: #F2F2F2;
}

body {
    font-family: Saira, sans-serif;
    font-size: 1em;
    color: #000000;
    max-width: 1200px;
    background: white;
    margin: auto;
}
h1 {
    font-family: "Avenir Next", sans-serif;
    font-size: 1.4em;
    font-weight: 200;
    color: #7D7C7D;
    padding-top: 1.5em;
    text-align: center;
    text-shadow: 3px 2px pink;
}
.header-container {
    display: flex;
    flex-direction: column;
    border-bottom: 1px solid #F2F2F2;
    padding: 2.3em 0;
}

.logo {
    margin-left: 5%;
}

.logo img {
    display: block;
}

nav {
    margin: 1.5em 0 0 5%;
}


header ul li {
    display: inline;
    padding: 0 1.4em 0 0;
    font-size: 0.9em;
}

header ul li a {
    text-decoration: none;
    color: #7D7C7D;
}

li a.active {
    color: #000000;
    border-bottom: 2px solid #000000;
    font-weight: 300;
}

li a:hover {
    color: #B6B6B6;
}


@media screen and (min-width : 600px) {
  

    h1 {
        padding-top: 3em;
    }

    .header-container {
        flex-direction: row;
        justify-content: space-between;
    }

    .logo {
        margin-left: 2.3em;
    }

    nav {
        align-self: center;
        margin: 0 0.8em 0 0;
    }
}



@media screen and (min-width : 1200px) {
    body {
        max-width: 1200px;
        margin: auto;
    }
    
    /* Foto Galeria */
.box1{
  position: relative;
    width: 300px;
    height: 230px;
    float: right;
    overflow: hidden;
        width: 24.9% !important;
}
.galery{
      float: left;
    width: 100%;
   
}

.galery img{
          width: 100%;
    height: 100%;
    transition: .5s;
   
}
.box1:hover  img {
    transform: rotate(-10deg) scale(1.3);
    opacity: .5;
  }
.galery h3 {
  text-transform: uppercase;
    position: relative;
    padding-bottom: 15px;
        text-align: center;
    font-size: 25px;
    padding-top: 105px;
}
    
    /*footer */
#footer {
    clear:both;
    height:300px;
    background-color:#DCDCDC;
}

#contacts {
    width: 28%;
    float: left ;
    line-height:50%;
    margin-left: 25px;
}
#form1 {
    width: 25%;
    float:left;
    margin-left:45px;
}
#form2 {
    width: 25%;
    margin:15px; 
    float:right; 
    }

#contacts img {
    height: 50px;
    width: 50px;
    margin-left: 7px;
    margin-right: 7px;
}
h2 {
    font-size: 15pt;
    color: #20bcd5;
    text-align: left;
    padding: 58px 180px 18px 0;
    margin: 0 0 10px 0;
}
h2 span {
    border: 4px dashed #20bcd5;
    padding: 10px;

}

#contacts a {
    text-decoration: none;
}
#contacts img:hover {
    opacity: 0.8;
}
#contacts {
    text-align: left;
}
.copyright {
    font-size: 8pt;
    text-align: right;
    padding-bottom: 10px;
    color: grey;
}


