body{background-color: #f0f2f2}
header{
  position: inherit !important;
  left: 0px;
  top: 0px;
  z-index: -1;
  background-color: #transparent !important;
  background-repeat: no-repeat !important;
  background-size: cover !important;
  width: 100% !important;

}
#main_header{
  padding-top: 10px !important;
  padding-left: 170px;
  width:100%;
   height:50px !important;
   position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      background: #141d27;
      box-shadow: 0 2px 2px #adadad;

     animation: slide-down 0.5s;
      opacity: 1;
      z-index: 999;

}
.carousel-inner{
  height: 610px;
}
.navbar-nav a{
  display: inline;
  list-style-type: none;
  color: white;
  margin:2%;
  padding: 3%;
}
.navbar-nav {
  display: inline !important;
}

nav{
  width: 70%;
  margin-left: 25%;
  padding-top: 20px;
  position: absolute;
  z-index: 1;
}
.qualities
{
  margin-top:30px;
  margin-bottom:30px;

}
.fo{
  border-radius: 50%;

  text-align: center;
  width:43px;
   height:43px;
}

.sec1
{text-align: center;
  text-size:50%;
  padding: 3%;
}

.row{
  width: 70% !important;
  margin: 0 auto;
  display: flex;
}

.col{
  flex: 25%;
    padding: 5px;
}
.v1{
  padding-left: 10px;
  margin-left: 40px;
  border-left: 1px solid #acbebf;



}
.inline{
  display:inline-flex;
}

.tips{
  margin-top: 40px;
}

#box{
  display: none;
  width:60px;
  height:30px;
  background:transparent;
  border:2px solid white;
  margin:0 auto;
  margin-top:3%;
  overflow:hidden;
  text-align: center;
  color:white;
  position: relative;
}
.col: hover #box{
    display:block;
}
.row1{

}

.tips{

  width:70% !important;
  margin: 0 auto !important;
}

.row2 {
  display: flex;
}

.column2 {
  position: relative;
  flex: 33.33%;
  padding: 5px;

}

.column2  img{
  color:  rgb(255, 0, 0);opacity:0.8;

}

.foot{
display: inline-flex;
}
.row3{
  display: flex;
  width: 80%;
  margin: 0 auto;
}

.column3{
flex:25%;
padding: 35px;
}

.column3  a  {
  text-decoration: none !important;
  list-style-type: none !important;
  color: black !important;
}

.last{
  background-color: #e0e0e0;

}

#up{

  z-index: 999;
  position:fixed !important;
  opacity: 1;
  bottom: 0;
  left: 0;
padding-left: 10px;
padding-right: 10px;
  border:1px;
  border-radius: 3px;
    background: none;

}
